extends _layout/layout

block variables
	- var title = 'About'
	- var description = 'Description for about page'
	- var bodyclass = 'about'

block body
	section.about
		.container
			.row
				.col.p-4
					.jumbotron.text-center
						h1.hidden-md-up.display-4 Awesome Bootstrap Sites!
						h2.hidden-md-up Dễ dàng triển khai và sử dụng
						p.lead Bộ công cụ phát triển web vô cùng mạnh mẽ dựa trên nền tảng Bootstrap.

